.h {
/*
 * Using monospace fonts seems to help force the browser to display Japanese
 * kana under the same stylistic font details as the game's font definition.
 */
    font-family:  Lucida Console, Courier, monospace;
    color:  red;
}
.k {
/* Help us tell Katakana apart from Hiragana more quickly using colors. */
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    color:  blue;
}
.j {
/* Emphasize kanji (as if it didn't have enough emphasis already...). */
    color:  green;
}

table, tr, td {
    border-width:  1px;
    border-style:  outset;
}
img {
    vertical-align:  bottom;
}

p, li {
    white-space :  pre-wrap;
}

td.n, tr.n { /* numeric data */
    text-align  :  right;
}
td.t, tr.t { /* titular data */
    text-align  :  center;
}
